/*
=============== 
Variables
===============
*/

:root {
/* dark shades of primary color*/
--clr-primary-1: rgb(148, 32, 172);
--clr-primary-2: hsl(205, 77%, 27%);
--clr-primary-3: hsl(205, 72%, 37%);
--clr-primary-4: hsl(205, 63%, 48%);
/* primary/main color */
--clr-primary-5: hsl(205, 78%, 60%);
/* lighter shades of primary color */
--clr-primary-6: hsl(205, 89%, 70%);
--clr-primary-7: hsl(205, 90%, 76%);
--clr-primary-8: hsl(205, 86%, 81%);
--clr-primary-9: hsl(205, 90%, 88%);
--clr-primary-10: hsl(205, 100%, 96%);
/* darkest grey - used for headings */
--clr-grey-1: hsl(209, 61%, 16%);
--clr-grey-2: hsl(211, 39%, 23%);
--clr-grey-3: hsl(209, 34%, 30%);
--clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
--clr-grey-5: hsl(210, 22%, 49%);
--clr-grey-6: hsl(209, 23%, 60%);
--clr-grey-7: hsl(211, 27%, 70%);
--clr-grey-8: hsl(210, 31%, 80%);
--clr-grey-9: hsl(212, 33%, 89%);
--clr-grey-10: hsl(210, 36%, 96%);
--clr-white: #fff;
--clr-red-dark: hsl(360, 67%, 44%);
--clr-red-light: hsl(360, 71%, 66%);
--clr-green-dark: hsl(125, 67%, 44%);
--clr-green-light: hsl(125, 71%, 66%);
--clr-black: #222;
--transition: all 0.3s linear;
--spacing: 0.1rem;
--radius: 0.25rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
--max-width: 1170px;
--fixed-width: 450px;
--clr-orange-1: hsl(12, 83%, 98%);
--clr-orange-2: hsl(14, 91%, 95%);
--clr-orange-3: hsl(12, 89%, 89%);
--clr-orange-4: hsl(13, 87%, 82%);
--clr-orange-5: hsl(13, 88%, 68%);
--clr-orange-6: hsl(13, 88%, 55%);
--clr-orange-7: hsl(13, 74%, 49%);
--clr-orange-8: hsl(13, 74%, 33%);
--clr-orange-9: hsl(13, 73%, 25%);
--clr-orange-10: hsl(13, 73%, 16%);
--font-size: 14px;
--clr-green: rgb(28, 145, 57);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* background: var(--clr-grey-10); */
color: var(--clr-grey-1);
line-height: 1.5;
font-size: 0.875rem;
}
ul {
list-style-type: none;
}
a {
text-decoration: none;
}
h1,
h2,
h3,
h4 {
letter-spacing: var(--spacing);
text-transform: capitalize;
line-height: 1.25;
margin-bottom: 0.75rem;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2rem;
}
h3 {
font-size: 1.25rem;
}
h4 {
font-size: 0.875rem;
}
p {
margin-bottom: 1.25rem;
color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1rem;
}
body {
    font-size: 1rem;
}
h1,
h2,
h3,
h4 {
    line-height: 1;
}
}

table td {
    border: none;
    font-size: var(--font-size);
    padding: 4px 8px;
    text-align: center;
   
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

/*  global classes */

.app__top--header {
    /* background-image: linear-gradient(rgba(247, 206, 255, 0.685), rgba(250, 238, 252, 0.815)); */
    background: linear-gradient(180deg, rgba(255,220,243,1) 0%, rgba(241,219,233,1) 51%, rgba(255,255,255,0.5214460784313726) 100%);
    padding: 15px 0;
} 

.table-wrapper__selected--items {
    width: 100%;
    min-height: 260px;
}

.table-wrapper__selected--items ul:nth-child(odd){
    background: var(--clr-primary-1);
    color: #fff;
}

.product__columns ul.header__title {
    margin: 8px 0;
}

.product__columns ul.header__title li {
    font-weight: bold;
    font-size: var(--font-size);
    color: var(--clr-green);
    text-align: center;
}

.product__columns ul.item li {
    font-size: var(--font-size);
    text-align: center;
}

.product__columns ul.item li:nth-child(1), 
.product__columns ul.header__title li:nth-child(1)
{
    width: 180px;
}

.product__columns ul li:nth-child(2){
    width: 80px;
}

.product__columns ul li:nth-child(3){
    width: 40px;
}

.product__columns ul li:nth-child(4){
    width: 80px;
}

.product__columns ul li:nth-child(5){
    width: 80px;
}

.table-wrapper__selected--items ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border  {
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.purple {
    background: var(--clr-primary-1);
    color: #fff;
}

.block {
    display: block;
}

.py {
    padding-left: 15px;
    padding-right: 15px;
}

.px {
    padding-top: 15px;
    padding-bottom: 30px;
}

.py-10 {
    padding: 10px 0;
}

.sub__wrapper {
    width: 95vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

.app__top--header div {
    width: 95vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .sub__wrapper {
        width: 95vw;
    }

    .app__top--header div {
        width: 95vw;
    }
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.v-600 {
    width: 600px;
    border-left: 1px solid rgb(211, 144, 200);
    border-right: 1px solid rgb(211, 144, 200);
    border-bottom: 1px solid rgb(211, 144, 200);
}

.main__nav li {
    margin-right: 20px;
}

.btn {
display: inline-block;
background: var(--clr-primary-5);
color: var(--clr-white);
padding: 0.25rem 0.75rem;
border-radius: var(--radius);
border-color: transparent;
text-transform: capitalize;
font-size: 1rem;
letter-spacing: var(--spacing);
margin-top: 2rem;
margin-left: 0.5rem;
margin-right: 0.5rem;
cursor: pointer;
transition: var(--transition);
}
.btn:hover {
background: var(--clr-primary-1);
color: var(--clr-primary-5);
}

.modal {
position: absolute;
left: 50%;
transform: translateX(-50%);
background: var(--clr-white);
display: inline-block;
padding: 0.25rem 1rem;
border-radius: var(--radius);
text-transform: capitalize;

}

.modal p {
margin-bottom: 0;
color: var(--clr-red-dark);
}
.form {
background: var(--clr-white);
max-width: var(--fixed-width);
margin: 0 auto;
margin-bottom: 4rem;
padding: 1rem 2rem;
border-radius: var(--radius);
}
.form input {
background: var(--clr-grey-10);
border-color: transparent;
border-radius: var(--radius);
padding: 0.25rem 0.5rem;
}
.form-control {
margin: 0.5rem 0;
display: grid;
grid-template-columns: 100px 1fr;
align-items: center;
}
.form button {
display: inline-block;
background: var(--clr-black);
color: var(--clr-white);
border-color: transparent;
margin-top: 1rem;
letter-spacing: var(--spacing);
padding: 0.15rem 0.25rem;
text-transform: capitalize;
border-radius: var(--radius);
cursor: pointer;
}
.nav-links {
max-width: var(--fixed-width);
margin: 0 auto;
margin-bottom: 4rem;
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.nav-links a {
color: var(--clr-grey-5);
}
.users {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 2rem;
margin: 3rem auto;
}
.users li {
width: 100%;
display: flex;
align-items: center;
background: var(--clr-white);
padding: 1rem 2rem;
border-radius: var(--radius);
text-align: left;
}
.users img {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 1rem;
}
.users h4 {
margin-bottom: 0.15rem;
}
.users a {
color: var(--clr-grey-5);
text-transform: capitalize;
}

.products {
margin: 4rem 0;
display: grid;
gap: 2rem;
}
@media screen and (min-width: 576px) {
.products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
}
.product {
background: var(--clr-white);
border-radius: var(--radius);
}
.product img {
border-top-left-radius: var(--radius);
border-top-right-radius: var(--radius);

width: 100%;
height: 15rem;
object-fit: cover;
}
.product h4 {
margin-top: 1rem;
}

.product button {
margin-bottom: 1rem;
background: var(--clr-primary-5);
border-radius: var(--radius);
border-color: transparent;
color: var(--clr-white);
padding: 0.25rem 0.5rem;
text-transform: capitalize;
cursor: pointer;
}



/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    font-size: var(--font-size);
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 3px 4px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.toggleBtn {
    border: 1px solid rgb(159, 203, 209);
    padding: 1px;
}

.toggleBtn button {
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #adadad;
}

.toggleBtn button.active {
    color: #fff;
    background: rgb(187, 127, 187);
}

.options {
    font-size: var(--font-size);
    width: 90%;
    margin: 10px auto;
    align-items: center;

}

.hidden {
    visibility: hidden;
}

.totals {
    font-size: var(--font-size);
    font-weight: bold;
    background: #fff;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad
}

.active {
    background: #ff8c8c;
}


/* add modal */

.modal__header .modal__border {
    display: block;
    border: 3px solid rgb(221, 100, 221);
    width: 100px;
    margin: 3px 0;
}

.modal__header .modal__title {
    font-size: 25px;
    padding: 0px;
    margin-bottom: 10px;
}

.modal__form label {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: var(--font-size);
}

.modal__form input {
    width: 100%;
    padding: 3px;
    outline: none;
    border:1px solid #adadad;

}

.modal__form input:focus {
    border-color: #222;
}

.modal .modal__form button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #adadad;
    font-size: 20px;
    text-align: center;
    line-height: 33px;
    align-self: baseline;
    position: relative;
    bottom: -20px;
}

.modal .modal__body ul  {
    margin: 10px 0;
}

.modal .modal__body ul li {
    border-bottom: 1px solid #adadad;
    padding: 5px 3px;
    font-size: var(--font-size);
}

.modal__footer {
    width: 180px;
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.modal__footer button {
    outline: none;
    border: 1px solid #adadad;
    padding: 3px;
    width: 80px;
    text-align: center;
    margin-right: 5px;
    font-size: -12px;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal__footer button:nth-child(2) {
    margin-right: 0px;
}

.modal__footer button:hover {
    background: #d6d6d6;
}


/*  items list */

.items_list {
    overflow-x: scroll;
    min-height: 400px;
}

.item_product {
    width: 150px;
    height: 103px;
    font-size: 12px;
    font-weight: 500;
    background: rgb(243, 243, 243);
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(17, 17, 17, 0.404);
    margin-right: 10px;
    position: relative;
}

.weight {
    position: absolute;
    top: 3px;
    right: 3px;
    background: url("../img/weight.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    height: 25px;
}

.weight img{
    width: 40px;
}

.weight .weight__unit {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 25px;
}

.item_product .item__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.item_product .item__img img {
    width: 100%;
    height: auto;
}

.item_product .item_detail {
    border-top: 1px solid rgb(126, 126, 126);
}

.item_product .item__name {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
}

.item_product .item__price {
    margin-left: 3px;
    padding: 2px 3px;
}

.edit-btn {
    display: inline-block;
    background: rgb(126, 200, 235);
    border-radius: 4px;
    color: #111;
    width: 40px;
    text-align: center;
    cursor: default;
}
